* {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI";
}

body {
  background-color: black;
  /* height: 100%; */
}
.container {
  background-image: url("assets/images/IN-en-20241202-TRIFECTA-perspective_052fb757-35ce-4655-946e-3c9ffac95fd0_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.bg {
  height: 100vh;
  width: 100%;
  /* background: linear-gradient(#1e1e1e, #361c24, #200208, #151213); */
  background: linear-gradient(#1e1e1e, #1b0e12, #0c0104, #1b1618);
  filter: blur(1px);
  opacity: 0.98;
  position: fixed;
  /* z-index: -1; */
}

.logo {
  position: relative;
  padding: 28px 0px;
  padding-left: 46px;
  opacity: 0.89;
  /* width: 136px; */
  /* z-index: 1; */
}

.logo img {
  transition: width 0.5s ease;
  width: 132px;
}

.lang {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

@media only screen and (max-width: 600px) {
  /* body {
       background-color: red; 
    } */

  .langua img {
    padding-top: 2px;
  }

  .lang {
    display: none;
    /* padding: 333px; */
  }

  /* .logo {
    width: 85px;
  } */
  .logo img {
    width: 120px;
    padding-top: 2px;
  }

  .arrow {
    display: none;
  }
}

/* .langua {
} */

.langua img {
  width: 19px;
  filter: invert();
}

.fixed {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  margin: 0px 44px;
  padding: 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn img:first-child {
  cursor: pointer;
}

.btn button:first-child {
  background: #1f1418db;
  border: 0.5px solid white;
  color: white;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding: 4px 17px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 0px;
}

.btn button:first-child:focus {
  border: 5px solid white;
}

.btn button:nth-child(2) {
  background: #ffffffd9;
  border: 0.5px solid white;
  color: black;
  font-size: 16px;
  position: relative;
  padding: 4px 13px;
  border-radius: 25px;
  cursor: pointer;
}

.lang select {
  background: transparent;
  border: none;
  color: white;
  appearance: none;
  padding: 0px 13px;
  cursor: pointer;
}

.lang select:focus {
  outline: none;
}

.lang select:focus + .btn button:first-child {
  border: 5px solid white;
}

.lang select option {
  color: black;
  padding: 0px 12px;
}

.arrow img {
  display: block;
  cursor: pointer;
  width: 19px;
  filter: invert();
}

.arrow img:focus + .btn button:first-child {
  border: 5px solid white;
}

.center {
  display: flex;
  justify-content: center;
}

.tab {
  width: auto;
  color: #cbc6c6;
  border: none;
  /* border-radius: 23px; */
  /* background-color: black; */
  position: fixed;
  z-index: 1;
  /* width: 40%; */
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 90px;
  font-size: medium;
  font-family: sans-serif;
  /* font-weight: 500; */

  border-radius: 6.25rem;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
}

@media only screen and (max-width: 630px) {
  .tab {
    width: 89%;
  }
}

.cont:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.box {
  position: relative;
  height: 94vh;
  /* background-image: url("assets/images/main\ image.jpg"); */
  mask-image: linear-gradient(
    180deg,
    #fff 71.48%,
    rgba(255, 255, 255, 0.4) 100%
  );
  border-top: 2px solid white;
  border-left: 2px solid white;
  /* border-radius: 16px; */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 148px 38px;
  margin-bottom: 0px;
  /* clip-path: ellipse(30% at 100%); */

  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 29.25%,
    rgba(0, 0, 0, 0.8) 64.5%
  );
  background-size: cover;
  /* border-radius: 0 0 50% 50%; */
  user-select: none;
  pointer-events: none;
}

/* add in .box for fading border */
/* background-color: #f9f9f9; */
/* background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.817) 50%, rgba(0, 0, 0, 0) 100%); */
/* padding-top: 2px; */
/* padding-left: 2px; */
/* background-position: top left; */
/* background-repeat: no-repeat; */
/* background-size: 100% 4px; */
/* z-index: 1 ; */

/* for concave curve in bottom of box div 
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20"%3E%3Cpath d="M0,20 Q50,-10 100,20" fill="none" stroke="black" stroke-width="2" /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: bottom;
   */

/* for curve */
/* 
   @media (min-width: 600px) {
    .default-ltr-cache-1f97ztc {
        width: 180%;
        left: -40%;
    }
} */
/* box-sizing: border-box;
   position: absolute;
   height: 100%;
   top: 0;
   margin: auto;
   display: -webkit-box;
   display: -webkit-flex;
   display: -ms-flexbox;
   display: flex
;
   -webkit-align-items: center;
   -webkit-box-align: center;
   -ms-flex-align: center;
   align-items: center;
   border: solid .25rem transparent;
   border-top-left-radius: 50% 100%;
   border-top-right-radius: 50% 100%;
   border-bottom: none;
   background: radial-gradient(50% 500% at 50% -420%, rgba(64, 97, 231, 0.4) 80%, rgba(0, 0, 0, 0.1) 100%), black;
   -webkit-background-clip: padding-box;
   background-clip: padding-box; */

.box img {
  /* position: relative; */
  /* z-index: -1; */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  /* opacity: 0.28; */
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.45) 50%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.1) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.45) 50%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.1) 100%
  ); /*for safari support2*/
  width: 100%;
  height: 100%;
}

/* @media (min-width: 680px) {
  .box {
    background-image: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.9) 31.45%,
      rgba(0, 0, 0, 0.4) 82.5%
    );
  }
} */

/* no need to use now if height is auto-- needed only if kept box height to 100% */
/* @media only screen and (max-width: 600px){
  .box{
    height: auto;
  }
} */

/* no the above is not true and below is needed to completely match */
@media only screen and (max-width: 560px) {
  .box {
    height: 37%;
  }

  .box img {
    object-fit: cover;
  }
}

.content {
  position: absolute;
  width: 65%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -45%);
  color: white;
  text-align: center;
  /* font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif; */
  font-family: Segoe UI, Roboto, Ubuntu, sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* gap: 18px; */
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gap-18 {
  gap: 18px;
}

.content h1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 70px;
  filter: brightness(10px);
}

.content p {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

@media only screen and (max-width: 560px) {
  .content {
    transform: translate(-50%, -5%);
    width: 80%;
  }

  .content h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: normal;
  }

  .content p {
    font-size: 18px;
    font-weight: 600;
  }
}

/* 
.curve {
  height: 4vh;
  width: 93vw;
  margin: auto;
  position: relative;
  bottom: 166px;
  border-top: 2px solid white;
  border-radius: 50% 50% 0% 0%;

  height: 215px;
    width: 100vw;
    position: relative;
    top: 306px;
    border-top: 3px solid white;
    border-radius: 50% 50% 0% 0%;
} */

.box-text {
  text-align: center;
  color: #ffffffb8;
  position: relative;
  margin: 12px 30px;
}

.box-text h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.email {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-50 {
  gap: 50px;
}
.email-input {
  position: relative;
}

.email-input input {
  position: relative;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  padding: 1.5rem 1rem 0.5rem;
  border: 0px;
  outline: none;
  border-radius: 100px;
  background: rgba(10, 10, 10, 0.7);
}

.email-input label {
  /* position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  left: 12px; */

  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  left: 1rem;
  right: 1rem;
  top: 1rem;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: top, font-size, line-height;
  transition-duration: 250ms;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
}
.email-input input:focus {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
}

.email-input input:focus + label,
.email-input input:not(:placeholder-shown) + label {
  top: 10px;
  font-size: 0.6rem;
}

.email-btn {
  position: relative;
}

.email-btn button {
  width: auto;
  transition-duration: 250ms;
  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
  vertical-align: text-top;
  width: auto;
  letter-spacing: normal;
  line-height: 1;
  user-select: none;
  border: 0px;
  cursor: pointer;
  fill: currentcolor;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  min-height: 3.5rem;
  padding: 0.75rem 2rem;
  border-radius: 100px;
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  display: flex;
  gap: 12px;
  align-items: center;
}

.email-btn button img {
  position: relative;
  top: 1px;
}

.email-btn button:hover {
  background: rgba(229, 9, 20, 0.85);
  /* color: rgba(255, 255, 255, 0.85); */
}

/* .email-btn button:hover .email-btn button img{
  fill: black;
} */

/* @media only screen and (max-width: 500px) {
  .email {
    flex-direction: column;
    align-items: center;
    gap: 11px;
    margin: 0px 20px;
  }

  .email-input {
    width: 100%;
  }

  .email-input input {
    width: 100%;
    background-color: red;
  }
} */

@media only screen and (max-width: 500px) {
  .email {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 20px;
  }

  .email-input {
    width: 100%;
  }

  .email-input input {
    width: calc(100% - 40px);
    margin: 0 auto;
    /* padding: 1.5rem 1rem 0.5rem; */
  }

  .email-btn {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .email-btn button {
    width: auto;
    padding: 0.75rem 1.5rem;
  }
}

.text {
  margin: 18px 60px;
  position: relative;
}
.text h2 {
  /* position: relative; */
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  transition: font-size 0.3s ease;
}

.opt-btn {
  position: relative;
  display: flex;
  margin-left: 55px;
  gap: 12px;

  font-size: 1rem;
  font-weight: 400;
  color: rgb(255, 255, 255);
  fill: white;
  transition: margin 0.3s ease;
}

.opt-btn select {
  line-height: 1.5;
  padding-top: 0.5rem;
  padding-right: calc(2.25rem + 0rem);
  padding-bottom: 0.5rem;
  padding-left: 1.25rem;
  appearance: none;
  background: url("assets/images/arrow.svg") no-repeat right 10px center; /* Custom arrow */
  background-color: transparent;
  color: white;
  /* background-size: 32px 26px; */
  border: 1px solid white;
  border-radius: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 400;
  transition: box-shadow 0.2s ease;
}

.opt-btn select option {
  color: black;
}

.opt-btn select:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
}

/* @media (min-width: 960px) {
  .text h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }
} */
@media (min-width: 850px) {
  .text h2 {
    font-size: 24px;
    font-weight: 500;
  }
}

/* @media (min-width: 600px) {
  .text h2 {
    font-size: 1.125rem;
    font-weight: 500;
  }
} */
@media (max-width: 800px) {
  .text h2 {
    font-size: 1.25rem;
    font-weight: 500;
  }
}

@media only screen and (max-width: 800px) {
  .opt-btn {
    flex-direction: column;
    margin: 0px 50px;
    margin-right: 34px;
  }

  .opt-btn select {
    font-size: 15px;
  }

  .text {
    margin-left: 50px;
  }
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 24px 60px;
  overflow-x: auto; /* Enable horizontal scrolling */
  scroll-snap-type: x mandatory; /* Snap scrolling */
  scrollbar-width: none; /* Hide scrollbar (Firefox) */
  -ms-overflow-style: none; /* Hide scrollbar (IE/Edge) */
  cursor: grab;
}

.carousel-img {
  display: flex;
  gap: 44px;
}

/* .fade {
  position: absolute;
  height: 100vh;
  width: 100vw;
  border: 2px solid purple;
  z-index: 1;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 10%,
    rgba(0, 0, 0, 0) 50%,
    rgb(207, 0, 0) 100%
  );
} */

/* .img-cont{
  position: relative;
  flex: 0 0 21%;
} */

.carousel-img img {
  /* position: relative; */
  width: 20%;
  border: 0px;
  border-radius: 10px;
  scroll-snap-align: center;
  user-select: none;
  pointer-events: none;
  transition: width 0.5s ease;
}

@media only screen and (max-width: 700px) {
  .carousel-img {
    gap: 20px;
  }

  .carousel {
    margin-left: 50px;
    width: 85%;
  }

  .carousel-img img {
    width: 30%;
  }

  /* .img-cont{
    flex: 0 0 25%;
  } */
}
@media only screen and (max-width: 500px) {
  .carousel {
    width: 82%;
  }
}

.img-num {
  position: absolute;
  top: 70%;
  left: 0px;
  /* background-color: rgba(0, 0, 0, 0.6); */
  color: white;
  font-size: 5rem;
  font-weight: bold;
  /* padding: 4px 0px; */
  border-radius: 4px;
  z-index: 1;
}

/* for fading effect while scrolling */
/* .carousel.active {
  background: linear-gradient(to right, rgba(255, 0, 0, 0.5), rgba(255, 255, 255, 0));
} */

/* Default state without scroll */
/* .carousel:not(.active) {
  background: transparent;
} */

/* for overflow faded */
/* .carousel::before,
.carousel::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;  Width of the fade effect 
  pointer-events: none;  Allows interactions to pass through 
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
}

.carousel::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.carousel::before {
  left: 0;
} */

/* .num {
  position: absolute;
  top: 50%;
  display: flex;
  gap: 222px;
  background: red;
  height: 100px;
  width: 100%;
}

.num span{
  color: white;
  font-size: 120px;
  font-weight: 500;
} */

.head {
  position: relative;
  margin: 0px 50px;
  margin-top: 42px;
  margin-bottom: 10px;
}

.head h2 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: normal;
  color: white;
  transition: font-size 0.5s ease;
}

.card-cont {
  position: relative;
  /* width: 85%; */
  width: auto;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 24px 60px;
  column-gap: 23px;
  /* gap: 23px; */
  /* transition: all 0.5s ease; */
}

.card {
  padding: 16px 24px;
  border: 0px;
  border-radius: 30px;
  background: linear-gradient(149deg, #192247 0%, #210e17 96.86%);
  /* to align the img to bottom right */
  display: grid;
  grid-template-rows: auto auto 1fr;
  /* transition: transform 0.5s ease, opacity 0.5s ease; */
}

.card img {
  height: 100px;
}

.card h3 {
  margin-top: 24px;
  font-size: 1.5rem;
  line-height: normal;
  font-weight: 500;
  color: white;
  transition: font-size 0.5s ease;
}

.card p {
  color: rgba(255, 255, 255, 0.7);
  margin: 15px 0px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
}

.card img {
  /* float: right; */
  align-self: end;
  justify-self: end;
  user-select: none;
  pointer-events: none;
  /* height: 100px; */
}

@media only screen and (max-width: 900px) {
  .card-cont {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 24px;
  }
}

@media only screen and (max-width: 550px) {
  .card-cont {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 24px;
  }
}

@media only screen and (max-width: 800px) {
  .head h2 {
    font-size: 1.125rem;
  }

  .card h3 {
    font-size: 1.25rem;
  }
}

.faq {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 12px;
  margin: 24px 0px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.faq-cont {
  color: white;
  border: 0px;
  border-radius: 15px;
  background: rgb(70 65 65 / 70%);
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
}
.faq-cont:hover {
  background: rgb(105 99 99 / 70%);
  cursor: pointer;
}

.faq-cont h2 {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: normal;
  transition: font-size 0.5s ease;
}
/* .faq-cont h2:hover {
  cursor: pointer;
} */

@media only screen and (max-width: 850px) {
  .faq-cont h2 {
    font-size: 1.125rem;
  }
}

#et {
  /*endtext*/
  position: relative;
  color: white;
  text-align: center;
  margin-top: 52px;
  margin-bottom: 24px;
  font-size: 16px;
  font-weight: 400;
}

#ee {
  gap: 40px;
}

#eei {
  width: 35%;
}

#eei input {
  border: 1px solid white;
  border-radius: 12px;
}

#eeb button {
  font-size: 24px;
  font-weight: 500;
  /* line-height: 24px; */
  border-radius: 12px;
  white-space: nowrap;
}

@media only screen and (max-width: 950px) {
  #ee {
    margin: 0px 24px;
  }
  #eei {
    width: 100%;
  }
}

/* to change the flex direction to column but not needed because email class already does this */
/* but the gap needs to be changed */
@media only screen and (max-width: 500px) {
  #et {
    margin-left: 24px;
    margin-right: 24px;
  }
  #ee {
    gap: 14px;
  }

  #eeb {
    align-self: flex-start;
  }
}

footer {
  position: relative;
  text-align: left;
  margin: 42px 74px;
  transition: margin-right 0.5s ease;
}

footer p {
  color: rgba(255, 255, 255, 0.7);
}

footer p a {
  color: inherit;
}

.footer {
  margin-top: 42px;
}

.footer ul {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; */
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.footer li {
  width: 20%;
  box-sizing: border-box;
  list-style: none;
  margin-right: 40px;
  font-size: 0.875rem;
  transition: width 0.5s ease;
}
@media only screen and (max-width: 500px) {
  footer {
    margin-left: 34px;
  }
  .footer li {
    width: 100%;
  }
}

.footer a {
  color: rgba(255, 255, 255, 0.7);
  /* text-decoration: none; */
}

.footer-btn {
  justify-content: flex-start;
  margin: 52px 0px;
  padding: 0;
}

.footer-btn button:first-child{
  border-radius: 12px;
}

@media only screen and (max-width:600px) {
  .footer-btn .lang, .footer-btn .arrow{
    display: block;
  }
}

.end{
  margin: 0;
}
