* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}
.container {
  background-image: url("assets/images/IN-en-20241202-TRIFECTA-perspective_052fb757-35ce-4655-946e-3c9ffac95fd0_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.bg {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#1e1e1e, #361c24, #2c040e, #272224);
  filter: blur(1px);
  opacity: 0.98;
  position: absolute;
  /* z-index: -1; */
}

.logo {
  position: relative;
  padding: 28px 0px;
  padding-left: 46px;
  opacity: 0.89;
  width: 136px;
  /* z-index: 1; */
  transition: width 0.5s ease;
}

.lang {
  display: block;
}

@media only screen and (max-width: 600px) {
  /* body {
       background-color: red; 
    } */
  .lang {
    display: none;
    /* padding: 333px; */
  }

  .logo {
    width: 85px;
  }
}


.fixed{
    position: fixed;
    z-index: 1;
    width: 100%;
    margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  margin: 0px 44px;
  padding: 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn img:first-child {
  cursor: pointer;
}

.btn button:first-child {
  background: transparent;
  border: 0.5px solid white;
  color: white;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding: 4px 17px;
  border-radius: 25px;
  display: flex;
  gap: 0px;
}

.btn button:nth-child(2) {
  background: white;
  border: 0.5px solid white;
  color: black;
  font-size: 16px;
  position: relative;
  padding: 4px 13px;
  border-radius: 25px;
  cursor: pointer;
}

.lang select {
  background: transparent;
  border: none;
  color: white;
  appearance: none;
  padding: 0px 18px;
  cursor: pointer;
}

.lang select:focus {
  outline: none;
}

.lang select option {
  color: black;
  padding: 0px 12px;
}

.arrow {
  cursor: pointer;
}


.center{
    display: flex;
    justify-content: center;
}

.tab{
    /* width: 23px; */
  color: #cbc6c6;
  border: none;
  border-radius: 23px;
  background-color: black;
  position: fixed;
  z-index: 1;
  width: 40%;
  padding: 12px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  margin: 90px;
  /* font-size: large; */
  font-family: sans-serif;
  font-weight: 500;
}


.cont:hover{
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.box{

    position: relative;
    height: 100%;
    background-image: url("assets/images/IN-en-20241202-TRIFECTA-perspective_052fb757-35ce-4655-946e-3c9ffac95fd0_large.jpg");
    border: 2px solid white;
    border-radius: 12px;
    margin: 148px 35px;
    background-size: cover;
    /* background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.90) 29.25%, rgba(0, 0, 0, 0.40) 64.5%); */
}

@media (min-width: 1280px) {
    .default-ltr-cache-1jlv5t9 {
        background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.90) 31.45%, rgba(0, 0, 0, 0.40) 82.5%);
    }
}


