* {
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  /* height: 100%; */
}
.container {
  background-image: url("assets/images/IN-en-20241202-TRIFECTA-perspective_052fb757-35ce-4655-946e-3c9ffac95fd0_large.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
}

.bg {
  height: 100vh;
  width: 100%;
  background: linear-gradient(#1e1e1e, #361c24, #2c040e, #272224);
  filter: blur(1px);
  opacity: 0.98;
  position: fixed;
  /* z-index: -1; */
}

.logo {
  position: relative;
  padding: 28px 0px;
  padding-left: 46px;
  opacity: 0.89;
  /* width: 136px; */
  /* z-index: 1; */
}

.logo img {
  transition: width 0.5s ease;
  width: 132px;
}

.lang {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

@media only screen and (max-width: 600px) {
  /* body {
       background-color: red; 
    } */

  .langua img {
    padding-top: 2px;
  }

  .lang {
    display: none;
    /* padding: 333px; */
  }

  /* .logo {
    width: 85px;
  } */
  .logo img {
    width: 120px;
    padding-top: 2px;
  }

  .arrow {
    display: none;
  }
}

/* .langua {
} */

.langua img {
  width: 19px;
  filter: invert();
}

.fixed {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn {
  margin: 0px 44px;
  padding: 12px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.btn img:first-child {
  cursor: pointer;
}

.btn button:first-child {
  background: #1f1418db;
  border: 0.5px solid white;
  color: white;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  padding: 4px 17px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  gap: 0px;
}

.btn button:first-child:focus {
  border: 5px solid white;
}

.btn button:nth-child(2) {
  background: #ffffffd9;
  border: 0.5px solid white;
  color: black;
  font-size: 16px;
  position: relative;
  padding: 4px 13px;
  border-radius: 25px;
  cursor: pointer;
}

.lang select {
  background: transparent;
  border: none;
  color: white;
  appearance: none;
  padding: 0px 13px;
  cursor: pointer;
}

.lang select:focus {
  outline: none;
}

.lang select:focus + .btn button:first-child {
  border: 5px solid white;
}

.lang select option {
  color: black;
  padding: 0px 12px;
}

.arrow img {
  display: block;
  cursor: pointer;
  width: 19px;
  filter: invert();
}

.arrow img:focus + .btn button:first-child {
  border: 5px solid white;
}

.center {
  display: flex;
  justify-content: center;
}

.tab {
  width: auto;
  color: #cbc6c6;
  border: none;
  /* border-radius: 23px; */
  /* background-color: black; */
  position: fixed;
  z-index: 1;
  /* width: 40%; */
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 90px;
  font-size: medium;
  font-family: sans-serif;
  /* font-weight: 500; */

  border-radius: 6.25rem;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 8px 8px 16px 0px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(12px);
}

@media only screen and (max-width: 630px) {
  .tab {
    width: 89%;
  }
}

.cont:hover {
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.box {
  position: relative;
  height: 94vh;
  /* background-image: url("assets/images/main\ image.jpg"); */
  mask-image: linear-gradient(
    180deg,
    #fff 71.48%,
    rgba(255, 255, 255, 0.4) 100%
  );
  border-top: 2px solid white;
  border-left: 2px solid white;
  /* border-radius: 16px; */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 148px 38px;
  margin-bottom: 0px;
  /* clip-path: ellipse(30% at 100%); */

  background-image: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.9) 29.25%,
    rgba(0, 0, 0, 0.8) 64.5%
  );
  background-size: cover;
  /* border-radius: 0 0 50% 50%; */
}

/* add in .box for fading border */
/* background-color: #f9f9f9; */
/* background-image: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.817) 50%, rgba(0, 0, 0, 0) 100%); */
/* padding-top: 2px; */
/* padding-left: 2px; */
/* background-position: top left; */
/* background-repeat: no-repeat; */
/* background-size: 100% 4px; */
/* z-index: 1 ; */

/* for concave curve in bottom of box div 
  background-image: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 20"%3E%3Cpath d="M0,20 Q50,-10 100,20" fill="none" stroke="black" stroke-width="2" /%3E%3C/svg%3E');
  background-repeat: no-repeat;
  background-position: bottom;
   */

.box img {
  /* position: relative; */
  /* z-index: -1; */
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
  /* opacity: 0.28; */
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.45) 50%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.1) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(0, 0, 0, 0.45) 50%,
    rgba(0, 0, 0, 0.3) 60%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.1) 100%
  ); /*for safari support2*/
  width: 100%;
  height: 100%;
}

/* @media (min-width: 680px) {
  .box {
    background-image: linear-gradient(
      360deg,
      rgba(0, 0, 0, 0.9) 31.45%,
      rgba(0, 0, 0, 0.4) 82.5%
    );
  }
} */

/* no need to use now if height is auto-- needed only if kept box height to 100% */
/* @media only screen and (max-width: 600px){
  .box{
    height: auto;
  }
} */

/* no the above is not true and below is needed to completely match */
@media only screen and (max-width: 560px) {
  .box {
    height: 37%;
  }

  .box img {
    object-fit: cover;
  }
}

.content {
  position: absolute;
  width: 65%;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -45%);
  color: white;
  text-align: center;
  /* font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu,
    sans-serif; */
  font-family: Segoe UI, Roboto, Ubuntu, sans-serif;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  /* gap: 18px; */
}

.flex-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.gap-18 {
  gap: 18px;
}

.content h1 {
  font-weight: 900;
  font-size: 56px;
  line-height: 70px;
  filter: brightness(10px);
}

.content p {
  font-size: 20px;
  font-weight: 500;
  line-height: normal;
}

@media only screen and (max-width: 560px) {
  .content {
    transform: translate(-50%, -5%);
    width: 80%;
  }

  .content h1 {
    font-weight: 500;
    font-size: 22px;
    line-height: normal;
  }

  .content p {
    font-size: 18px;
    font-weight: 600;
  }
}

/* 
.curve {
  height: 4vh;
  width: 93vw;
  margin: auto;
  position: relative;
  bottom: 166px;
  border-top: 2px solid white;
  border-radius: 50% 50% 0% 0%;

  height: 215px;
    width: 100vw;
    position: relative;
    top: 306px;
    border-top: 3px solid white;
    border-radius: 50% 50% 0% 0%;
} */

.text {
  text-align: center;
  color: #ffffffb8;
  position: relative;
  margin: 12px 30px;
}

.text h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}


.email{
  display: flex;
  justify-content: center;
  align-items: center;
}

.gap-50 {
  gap: 50px;
}
.email-input {
  position: relative;
}

.email-input input {
  position: relative;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  padding: 1.5rem 1rem 0.5rem;
  border: 0px;
  outline: none;
  border-radius: 100px;
  background: rgba(10, 10, 10, 0.7);
}

.email-input label {
  /* position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  left: 12px; */

  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
  left: 1rem;
  right: 1rem;
  top: 1rem;
  position: absolute;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition-property: top, font-size, line-height;
  transition-duration: 250ms;
  pointer-events: none;
  transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
}
.email-input input:focus {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
}

.email-input input:focus + label,
.email-input input:not(:placeholder-shown) + label {
  top: 10px;
  font-size: 0.6rem;
}

.email-btn {
  position: relative;
}

.email-btn button {
  width: auto;
  transition-duration: 250ms;
  transition-property: background-color, border-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.68, 0.06);
  vertical-align: text-top;
  width: auto;
  letter-spacing: normal;
  line-height: 1;
  user-select: none;
  border: 0px;
  cursor: pointer;
  fill: currentcolor;
  font-size: 1.5rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  min-height: 3.5rem;
  padding: 0.75rem 2rem;
  border-radius: 100px;
  background: rgb(229, 9, 20);
  color: rgb(255, 255, 255);
  display: flex;
  gap: 12px;
  align-items: center;
}

.email-btn button img {
  position: relative;
  top: 1px;
}

.email-btn button:hover {
  background: rgba(229, 9, 20, 0.85);
  /* color: rgba(255, 255, 255, 0.85); */
}

/* .email-btn button:hover .email-btn button img{
  fill: black;
} */

/* @media only screen and (max-width: 500px) {
  .email {
    flex-direction: column;
    align-items: center;
    gap: 11px;
    margin: 0px 20px;
  }

  .email-input {
    width: 100%;
  }

  .email-input input {
    width: 100%;
    background-color: red;
  }
} */

@media only screen and (max-width: 500px) {
  .email {
    flex-direction: column; 
    align-items: center;
    gap: 20px;
    margin: 0 20px; 
  }

  .email-input {
    width: 100%; 
  }

  .email-input input {
    width: calc(100% - 40px); 
    margin: 0 auto; 
    /* padding: 1.5rem 1rem 0.5rem; */
  }

  .email-btn {
    width: 100%; 
    display: flex;
    justify-content: center; 
  }

  .email-btn button {
    width: auto; 
    padding: 0.75rem 2rem; 
  }
}